<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>application-identifier</key>
	<string>4D98PK6HWS.com.silentcircle.SilentPhone</string>
	<key>aps-environment</key>
	<string>production</string>
	<key>beta-reports-active</key>
	<true/>
	<key>com.apple.developer.team-identifier</key>
	<string>4D98PK6HWS</string>
	<key>get-task-allow</key>
	<false/>
	<key>com.apple.developer.default-data-protection</key>
	<string>NSFileProtectionComplete</string>
	<key>beta-reports-active</key>
	<true/>
	<key>com.apple.developer.siri</key>
	<true/>
	<key>keychain-access-groups</key>
	<array>
		<string>4D98PK6HWS.com.silentcircle.SilentPhone</string>
	</array>
</dict>
</plist>
